@import 'variables.scss';

.main-container {
  margin-top: 80px;

  button {
  	border-radius: 0px;
  }

  .promotions {
	margin-top: 20px;

	img {
		width: 100%;
		height: 120px;
	}
  }

  .socialIcons {
  	img {
  		margin-left: 10px;
  	}
  }

  .spacing {
  	margin: 50px 0px;
  }

  .MuiCard-root {
  	border: 1px solid #cccccc5e;
  	box-shadow: none !important;
  }

  .offers-div {
  	text-align: center;

  	.offer-icon .MuiSvgIcon-root {
  		font-size: 50px;
  	}

  	.offer-desc {
  		font-size: 13px;
  	}

  	.offer-title {
  		font-weight: 400;
    	margin: 20px 0;
  	}
  }

  .secondary-title {
  	text-align: center;
  	font-weight: 500;
  	padding-bottom: 5px;
  }

  .cart-price-details {
	display: inline-flex;
  }

  .cart-header {
		font-size: 14px;
	    font-weight: 700;
	    color: #00000082;
	}

	.cart-price-details * {
		padding: 0px 10px;
	}
	.name-div {
		display: inline-flex;
	}
	.name-div img {
		width: 80px;
		height: 70px;
		margin-right: 10px;
	}
	.name-div .title-div .name {
		font-size: 18px;
		font-weight: 600;
	}
	.name-div .title-div .desc {
		font-size: 16px;
		font-weight: 500;
		color: #000;
	}
	hr {
		border: 1px solid lightgrey;
	}
	.MuiListItem-gutters {
		padding-left: 0px !important;
	}

	.main-footer {
		margin-top: 40px;
		
		.title {
			color: #22262A;
			font-weight: 500;
		}

		li {
			list-style-type: none;
			line-height: 35px;
    		font-size: 12px;

			a {
				text-decoration: none;
				color: #262626;
			}
		}
	}

	.divider {
		margin-top: 40px;
		margin-bottom: 30px;
		border: 1px solid #cccccc5e;
	}
}




@media screen and (max-width: 500px) {

  /*.MuiContainer-root {
  	padding-left: 8px;
    padding-right: 0px;
  }*/

  .main-container {
    margin-top: 70px;

    .spacing {
	  margin: 0px 0px;
	}

	.secondary-title {
		font-size: 22px;
	}

	.promotions {
		margin-top: 15px;

		img {
			width: 100%;
			height: auto;
		}
	  }

	.main-footer {
		.title {
			color: #22262A;
			font-weight: 500;
		}

		li {
			list-style-type: none;
			line-height: 35px;
    		font-size: 12px;

			a {
				text-decoration: none;
				color: #262626;
			}
		}
	}

	.MuiPaper-root {
		.MuiTypography-h6 {
			font-size: 12px;
			font-weight: 500px;
		}

		.desc {
			display: none;
		}

		.MuiRating-root {
			font-size: 1rem;
		}
	}
  }
}
