/* 
	VARIABLES FOR MeDIA QUERIES
*/
$desktop : "only screen and (min-width: 1024px)";
$tab : "only screen and (min-width: 768px) and (max-width: 1024px)";
$mobile : "only screen and (min-width: 320px) and (max-width: 767px)";

/* 
	VARIABLES FOR COLORS
*/
$black : "#000";
$white : "#fff";
$theme : "#FB631C";